{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="div1"></div>
    













    <script>
         var fruits=["apple","banana","orange","mango"]
         var fruits2=["aa","mm"]
         var a=document.getElementById("div1")
         a.innerHTML=fruits.toLocaleString()
         a.innerHTML=fruits.join("*")
         fruits.push("grape")
         a.innerHTML=fruits.toString()

// to remove last object
         fruits.pop() 
                            
         a.innerHTML=fruits.toString()  

        //  toremovefirst
         fruits.shift()
         a.innerHTML=fruits.toString()
         fruits.unshift("chakka")
         a.innerHTML=fruits.toString()

         delete fruits [2]
         a.innerHTML=fruits.toString()

         var new1=fruits.concat(fruits2)
         a.innerHTML=fruits.toString()

        



    </script>
</body>
</html>