<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



    <script>

    //odd/even push

        // var students=["murshi","sheikha","anuvind","sahal","fidal"]
        // var odd=[]
        // var even=[]
        // for(student of students){
        //     if(student.length % 2 ==0)
        //     even.push(student)
        //     else{
        //         odd.push(student)
        //     }
            

        // }
        // console.log(odd)
        // console.log(even)

       // remove duplicate element

        

       //vovel countt

       var vov=["a","e","i","o","u"]
       var name=prompt("enter your name")
       count=0

       for(i=0;i<vov.length;i++){
        for(j=0;j<name.length;j++){
            if(vov[i] == name[j]){
                count++
            }
        }
       }
       console.log(count)

</script>


    </script>
</body>
</html>