<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dom_new</title>
</head>
<body>
    <button onclick="showalert()">click</button>
    <div id="div1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, itaque.
    </div>
    <br><br>
    <button onclick="toggletheam()">toggle</button>



    <script>
        function showalert(){
            document.getElementById("div1").innerHTML="changed"
            document.getElementById("div1").style.color="red"
            
            document.getElementById("div1").style.fontSize="20px"

        }
        console.log(document)   
      console.log(document.getElementById("div1").innerHTML)  

      function toggletheam(){
        document.body.style.backgroundColor="black"
      }

    </script>
    
</body>
</html>