{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ul><li>coffe</li>
    <li>tea</li>
    <li>milk</li>
</ul>
    

<body>
    <script>
        const a =prompt("enter first number")
        const b=prompt("enter second number")

        let min =(a>b) ? a:b;

         

 
while (true) {
    if (min % a == 0 && min % b == 0) {
        document.write( "LCM of "+a+" and "+b+" is "+min);
        break;
    }
    min++;
}














    </script>
    
</body>
</html>